html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 800px;
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    background-color: #f1f1f1;
    background-image: url(../img/background-photo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.body-inner {
    min-height: 800px;
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    background-color: #f1f1f1;
    background-image: url(../img/filter-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.button {
    display: inline-block;
/*
    margin-right: 16px;
    padding: 10px 30px;
*/

    font: inherit;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #766357;
    border: none;
}

.menu-flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
}

.main-navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.main-header-logo {
    position: absolute;
    width: 244px;
/*    height: 70px;*/
    text-align: center;
    left: 478px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    width: 1200px;
}


.site-navigation-left{
    display: flex;
    flex-wrap: wrap;
    width: 478px;
    align-content: flex-start;
}
.site-navigation-right {
    display: flex;
    flex-wrap: wrap;
    width: 478px;
    align-content: flex-end;
}

.site-navigation li {
    width: 239px;
    text-align: center;
    padding: 15px 0;
}
.site-navigation a {
    cursor: pointer;
    color: #000;
    width: 239px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;

}

.link__info:hover {
    color: #a3c7de;
}
.link__info:active {
    color: #b2b2b2;
}

.site-navigation-current a {
    color: #766357;
}

/*outro*/

.outro {
/*    position: relative;*/
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 512px;
    align-items: center;
    background-image: url(../img/bg__white-bottom.png);
    background-position: 0 455px;
    background-repeat: no-repeat;
}

.outro img:first-child {
    margin-top: 75px;
    width: 188px;
    height: 45px;
}
.outro img:nth-child(2) {
    margin-top: 11px;
    width: 176px;
    height: 30px;
}
.outro img:nth-child(3) {
    margin-top: 52px;
    width: 458px;
    height: 78px;
}
.outro img:last-child {
    margin-top: 52px;
    width: 296px;
    height: 80px;
}

/*features*/

.features-header {
    background-color: #fff;
}
.features-header h2{
    padding: 0;
    margin: 0;
    margin: 0 auto;
    display: block;
    width: 576px;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;

    padding-top: 60px;

}

.features-header p {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 576px;
    text-align: center;

    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;

    padding-top: 36px;
    padding-bottom: 55px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}


.feature-1 {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.feature-1 .description-1 {
    width: 400px;
    background-color: #81b3d2;
}

.description-1 h3 {
    display: block;
    padding: 0;
    margin: 0;

    width: 240px;

    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 23px;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}

.description-1 span {
    padding: 0; /*На всякий случай*/
    margin: 0;
    display: block;

    margin: 0 auto;
    padding-bottom: 25px;

    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.description-1 p {
    padding: 0; /*На всякий случай*/
    margin: 0;
    display: block;

    margin: 0 auto;
    padding-bottom: 60px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.feature-1 .content__picture-right {
    width: 800px;
    background-image: url(../img/content__right-img.jpg);
    background-position: 0 0;
}


.housing,
.food,
.souvenirs {
    position: relative;
    width: 400px;
    background-color: #fff;
}
.housing::before{
    position: absolute;

    content: "";
    width: 75px;
    height: 72px;
    top: 60px;
    left: 162px;

    background-image: url(../img/content__icon-1.svg);
    background-repeat: no-repeat;
}
.food::before{
    position: absolute;

    content: "";
    width: 74px;
    height: 71px;
    top: 61px;
    left: 161px;

    background-image: url(../img/content__icon-2.svg);
    background-repeat: no-repeat;
}
.souvenirs::before{
    position: absolute;

    content: "";
    width: 64px;
    height: 76px;
    top: 56px;
    left: 168px;

    background-image: url(../img/content__icon-3.svg);
    background-repeat: no-repeat;
}

.housing h3,
.food h3,
.souvenirs h3 {
    display: block;
    margin: 0;
    padding: 0;

    padding-top: 168px;
    padding-bottom: 30px;
    text-align: center;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 21px;
}.housing p,
.food p,
.souvenirs p {
    display: block;
    margin: 0;
    padding: 0;


    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 83px;
    text-align: center;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}


.feature-2 {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.content__picture-left {
    width: 800px;
    background-image: url(../img/content__left-img.jpg);
    background-position: 0 0;
}

.description-2 {
    width: 400px;
    background-color: #81b3d2;
}
.description-2 h3 {
    display: block;
    padding: 0;
    margin: 0;

    width: 240px;

    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 23px;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}

.description-2 span {
    padding: 0; /*На всякий случай*/
    margin: 0;
    display: block;

    margin: 0 auto;
    padding-bottom: 25px;

    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.description-2 p {
    padding: 0; /*На всякий случай*/
    margin: 0;
    display: block;
    box-sizing: border-box;

    margin: 0 auto;
    padding-bottom: 60px;
    padding-left: 45px;
    padding-right: 45px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.feature-3-5 {
/*    display: flex;*/
    width: 400px;
    background-color: #eee;
}
.description h3 {
    display: block;
    padding: 0;
    margin: 0;

    width: 240px;

    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 23px;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000;
}

.description span {
    padding: 0; /*На всякий случай*/
    margin: 0;
    display: block;

    margin: 0 auto;
    padding-bottom: 25px;

    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.description p {
    padding: 0; /*На всякий случай*/
    margin: 0;
    display: block;
    box-sizing: border-box;

    margin: 0 auto;
    padding-bottom: 60px;
    padding-left: 45px;
    padding-right: 45px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.search-form-title {
    background-color: #fff;
}
.search-form-title h2{
    display: block;
    padding: 0;
    margin: 0;

    width: 576px;
    margin: 0 auto;
    text-align: center;
    color: #000;

    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;

    padding-top: 54px;
    padding-bottom: 24px;
}
.search-form-title p{
    display: block;
    padding: 0;
    margin: 0;

    width: 576px;
    margin: 0 auto;
    text-align: center;
    color: #333333;

    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    padding-bottom: 50px;
}

.search-form-title .button-search {
    width: 568px;
    display: block;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-weight: 700;

    background-color: #766357;

    padding: 30px 0;
    margin: 0 auto;

    cursor: pointer;
}
.search-form-title .button-search:hover {
    width: 568px;
    display: block;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-weight: 700;

    background-color: #604e43;

    padding: 30px 0;
    margin: 0 auto;

    cursor: pointer;
}
.search-form-title .button-search:active {
    width: 568px;
    display: block;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #857871;
    font-weight: 700;

    background-color: #503e33;

    padding: 30px 0;
    margin: 0 auto;

    cursor: pointer;
}


.map-container {
    padding-top: 472px;
    background-image: url(../img/map.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 73px;
    align-items: center;
}

.main-footer h3 {
    display: block;
    margin: 0;
    padding: 0;
    width: 240px;
    text-align: center;
}

.social-list__wrapper {
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 36px 0;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.social-item {
    position: relative;
    width: 46px;
    min-height: 48px;

    background-color: #81b3d2;
}
.social-item:hover {
    position: relative;
    width: 46px;
    min-height: 48px;

    background-color: #669ec0;
}
.social-item:active {
    position: relative;
    width: 46px;
    min-height: 48px;

    background-color: #5496bd;
}

.social-item a {
    display: block;
    width: 46px;
    min-height: 48px;
}
.social-item a:active {
    display: block;
    width: 46px;
    min-height: 48px;
    opacity: 0.5;
}

.tw img {
    position: absolute;
    top: 15px;
    left: 15px;
}
.fb img {
    position: absolute;
    top: 12px;
    left: 16px;
}
.yt img {
    position: absolute;
    top: 15px;
    left: 15px
}

.main-footer p {
    display: block;
    margin: 0;
    padding: 0;
    width: 145px;

    box-sizing: border-box;
/*    text-align: right;*/

}

.academy {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    align-items: center;
    margin: 0 auto;
}
.academy p {
    display: block;
    margin: 0;
    padding: 0;
    width: 97px;
    box-sizing: border-box;

    padding-left: 15px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
}

.logo-html-academy path:hover {
    fill: #090;
    width: 113px;
    height: 39px;
}

/*modal*/

.modal-search-form {
    display: none;
    background-color: #fff;
    width: 568px;
/*    min-height: 394px;*/

}
.search-form {
    box-sizing: border-box;
    padding-left: 55px;
}


.search-form p {
    margin: 0;
    padding: 0;
    display: block;
}

/*
.search-form input[type="date"] {
    width: 114px;
}
*/

.search-form .arrival-date {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 458px;
}

.search-form .date-of-departure {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 458px;
}

.arrival-date input {
    width: 345px;
    box-sizing: border-box;
    padding: 6px 0;
    padding-right: 40px;

    border: none;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #f2f2f2;


}
.date-of-departure input {
    width: 345px;
    box-sizing: border-box;
    padding: 6px 0;
    padding-right: 40px;
    border: none;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #f2f2f2;

}

.arrival-date input:hover,
.date-of-departure input:hover {
    background-color: #ebebeb;
}
.arrival-date input:active,
.date-of-departure input:active {
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    padding: 4px 0;
}

.date__calendar {
    position: relative;
}
.date__calendar::before {
    content: "";
    position: absolute;

    width: 21px;
    height: 22px;
    background-image: url(../img/calendar.svg);
    left: 312px;
}

.search-form .date-of-departure {
    padding-top: 30px;
    padding-bottom: 30px;
}

.adults-children__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 513px;
    padding-bottom: 55px;
}

.search-form .adults {
    width: 230px;
    display: block;
}
.search-form .children {
    width: 216px;
    display: block;
}

.adults input,
.children input {
    width: 114px;
    box-sizing: border-box;
    border: none;

/*    padding-right: 40px;*/

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    background-color: #f2f2f2;
}

/*
.people {
    position: relative;
}

.people::before {
    content: "";
    position: absolute;

    width: 21px;
    height: 22px;
    background-image: url(../img/calendar.svg);
}
*/

.search-form .button__form {
    display: block;
/*    box-sizing: border-box;*/
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    width: 458px;
    padding: 16px 0;

    border: none;
    background-color: #81b3d2;
}
.search-form .button__form:hover {
    display: block;
/*    box-sizing: border-box;*/
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    width: 458px;
    padding: 16px 0;

    border: none;
    background-color: #669ec0;
}
.search-form .button__form:active {
    display: block;
/*    box-sizing: border-box;*/
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    width: 458px;
    padding: 16px 0;

    border: none;
    background-color: #5496bd;
}


/*     Страница отолей     */
.filters {
/*    display: flex;*/
/*    width: 1200px;*/
    padding: 0 73px;
    box-sizing: border-box;

}

.filter {
    box-sizing: border-box;

    display: flex;
    width: 1056px;
    justify-content: space-between;
}

.filter-left-container {
    display: flex;
    flex-wrap: wrap;
    width: 528px;
}

.filter-left {
    width: 240px;
    display: flex;
    flex-direction: column;
    min-height: 216px;

    margin-top: 30px;
/*    justify-content: center;*/
}

.filter-right {
    width: 288px;
    display: flex;
    flex-direction: column;
    min-height: 216px;

    margin-top: 30px;
}

.filter fieldset {
    border: none;
    margin: 0;
    padding: 0;

}

.filter legend {
    padding: 0;
    margin: 0;
    display: block;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}

.infrastructure__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.infrastructure__list li {
    color: #fff;
}
.infrastructure__list li:first-child {
    margin-top: 25px;
    margin-bottom: 22px;
}
.infrastructure__list li:last-child {
    margin-top: 22px;
    margin-bottom: 31px;
}

.type-housing__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.type-housing__list li {
    color: #fff;
}
.type-housing__list li:first-child {
    margin-top: 25px;
    margin-bottom: 22px;
}
.type-housing__list li:last-child {
    margin-top: 22px;
    margin-bottom: 31px;
}


.filter-checkbox{
    position: relative;
    display: flex;
/*    box-sizing: border-box;*/
/*    align-items: center;*/
    padding-left: 40px;

    cursor: pointer;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #4d4d4d    ;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
    background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../img/checkbox-on.svg);
    opacity: 0.1;
}

.filter-right-container {
    flex-basis: 318px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
/*    display: block;*/
    padding-left: 10px;
    box-sizing: border-box;
/*    align-items: baseline;*/
/*    align-content: flex-end;*/
/*    justify-content: flex-end;*/
}

.filter-right-container .filter-cost {
    padding-top: 30px;
    margin-bottom: 12px;
}

.range-block {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.range-block::after {
/*    display: flex;*/
    position: absolute;

    content: "";

    width: 2px;
    height: 22px;
    background-color: #fff;

    top: 5px;
    left: calc(50% - 2px);

}

.range-block input[type="text"] {
/*    display: block;*/
    width: 156px;
    border: none;
    text-align: center;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;

    box-sizing: border-box;
    padding: 5px;
}
.range-block input[type="text"]:first-child {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
/*    box-sizing: border-box;*/
    background-color: transparent;
}
.range-block input[type="text"]:last-child {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
/*    box-sizing: border-box;*/
    background-color: transparent;
}

.range-input-block {
    display: block;
}

.range-input-block input[type="range"] {
    width: 308px;
}

.range-input-block input[type="range"]{
-webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #00ca74;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-input-block input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 23px;
    border-radius: 50%;
/*    background: #ffffff;*/
    background-image: url(../img/filter-button.svg);
    cursor: pointer;
}
.range-input-block input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.filter-right-container .button-show {
    display: block;
    margin: 0 auto;
    margin-top: 22px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 5px;
    width: 133px;
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: transparent;
}

.main--inner {
    background-color: #fff;
}
.hotels-container {
    padding: 0 73px;
    box-sizing: border-box;
}

.menu-sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0;
/*    align-items: center;*/
}

.sort-left__container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 528px;
    align-items: center;
}

.menu-sort .found{
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-right: 50px;
}
.menu-sort .sort-word {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;

    margin-right: 40px;
}

.menu-sort__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 238px;
    justify-content: space-between;
}

.menu-sort__list li {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.menu-sort__list a {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;

    color: #c6c6c6;
    border-bottom: 1px dotted #81b3d2;
    padding-bottom: 5px;
}


.menu-sort__item_current a{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;

    color: #81b3d2;
    border: none;
}

.sort-right__container {
    display: flex;
    flex-basis: 30px;
    align-items: center;
}



.up-down {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-basis: 30px;
    justify-content: space-between;
}
/*
.up-down li{

}
*/
/*
.up-down a{
    display: block;
    width: 10px;
    height: 10px;
}
.up-down a:first-child{
    display: block;
    width: 10px;
    height: 10px;
*/
/*}*/


/*
.up-down::before {
    position: absolute;
    content: "";

    width: 10px;
    height: 10px;

    background-image: url(../img/icon-down-dir.svg);
    right: 20px;
}
.up-down::after {
    position: absolute;
    content: "";

    width: 10px;
    height: 10px;

    background-image: url(../img/icon-up-dir.svg);

    top: 2px;
    left: 10px;
}
*/


.line {
    height: 1px;
    width: 1200px;
    margin: 0 -73px;
    background-color: red;
}

.hotel-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-basis: 1056px;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*
.hotel-list li{
    display: flex;
    flex-basis: 1056px;
    flex-wrap: wrap;
    justify-content: space-between;
}
*/

.hotel-block__container {
    display: flex;
    flex-basis: 1056px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.hotel__name {
    display: flex;
    flex-basis: 528px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hotel__img {
    display: flex;

    flex-wrap: wrap;
/*    margin-right: 30px;*/
    width: 164px;
}
.hotel__img img{
    display: block;
}

.hotel-info {
    display: flex;

    flex-wrap: wrap;
    flex-basis: 365px;
}



.hotel-info h2{
    padding: 0;
    margin: 0;
    width: 365px;
    display: block;

    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}


.hotel-list__type {
/*    width: 77px;*/
        font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    display: block;
    margin-right: 40px;
}



.hotel-list__price {
    display: block;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
/*    width: 76px;*/
}

.hotel__button a{
    background-color:
}

.hotel__buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.hotel__buttons .hotel__button {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
}
.hotel__button a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #fff;
}
.hotel__buttons .hotel__button_details {
    background-color: #81b3d2;
    padding: 6px 0;
    width: 110px;
    margin-right: 6px;
}
.hotel__buttons .hotel__button_reservation {
    background-color: #766357;
    padding: 6px 0;
    width: 142px;;
}



.hotel__rating {
    display: flex;
    flex-direction: column;
    flex-basis: 240px;
    align-items: flex-end;
    justify-content: space-between
}

.stars-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rating-points {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 28px;
/*    margin-top: 40px;*/

    text-align: center;
    background-color: #eee;
}
